.container {
	width: 750px;
	margin: 35px auto;
}

@media (max-width:  950px) {
	/* For a screen < 960px, this CSS wil be read */
	.container {
		width: 650px;
	}
}
@media (max-width: 700px) {
	/* For a screen < 7200px, this CSS wil be read */
	.container {
		width: 480px;
}
@media (max-width: 530px) {
	/* For a screen < 540px, this CSS wil be read */
	.container {
		width: 290px;
	}
}
